* {
  margin: 0;
}

.app {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
}

.title {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  text-align: center;
  font-size: .875rem;
}

.title>h2 {
  font-size: 2rem;
  margin-bottom: .75rem;
}

.underline {
  width: 6rem;
  height: .25rem;
  margin: auto;
  background: #c59d5f;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.menus {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-gap: 3rem 2rem;
  gap: 3rem 2rem;
  justify-items: center;
}