.container {
 display: grid;
 grid-gap: 1rem 2rem;
 gap: 1rem 2rem;
 max-width: 25rem;
}

.photo {
 object-fit: cover;
 height: 200px;
 width: 100%;
 border: .25rem solid #c59d5f;
 border-radius: .25rem;
 display: block;
 margin-bottom: .5rem;
}

.item-info>header {
 display: flex;
 justify-content: space-between;
 border-bottom: .5px dotted #617d98;
}

.item-info>header>h4 {
 margin-bottom: .5rem;
 font-size: .875rem;
}

.price {
 color: #c59d5f;
}

p {
 margin-bottom: 0;
 padding-top: 1rem;
 margin-bottom: 1.25rem;
 color: #617d98;
}