.box {
 display: flex;
 flex: 1;
 background-color: white;
 padding: 10px;
 align-items: center;
}

.info {
 background-color: white;
 display: block;
 flex-direction: column;
 margin-left: 15px;
 display: flex;
}

.info > p {
 color: gray;
 margin-top: .35rem;
}