.clear-btn {
 text-transform: capitalize;
 width: 10rem;
 height: 1.5rem;
 display: grid;
 align-items: center;
 background: transparent;
 border-color: transparent;
 color: #e66b6b;
 font-size: .85rem;
 letter-spacing: .1rem;
 margin: 1.5rem auto 0;
 cursor: pointer;
 transition: all .3s linear;
 font-size: .85rem;
}

.clear-btn:hover {
 color: red;
}