.ant-form-item-label > label {
  width: 100px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  height: 32;
}
.ant-table {
  font-size: 9px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #747474;
}
::-webkit-scrollbar-corner {
  background: #f6f6f6;
}
